<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ncu.efpg.mysop" >

    <uses-sdk android:minSdkVersion="18" />

    <!--
             <permission
            android:name="com.example.kelly.mysop.permission.C2D_MESSAGE"
            android:protectionLevel="signature" />

        <uses-permission android:name="com.example.kelly.mysop.permission.C2D_MESSAGE" />
    -->


    <!-- 使用GCM -->
    <uses-permission android:name="com.example.kelly.mysop.permission.C2D_MESSAGE" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 手機震動 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!-- 判斷手機連線 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- TAB -->
    <activity android:name=".Message" />
    <activity android:name=".Memo" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >

        <!-- 接收 GCM 的 receiver -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.ncu.efpg.mysop.MyGcmListenerService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.ncu.efpg.mysop.MyInstanceIDListenerService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="com.ncu.efpg.mysop.RegistrationIntentService"
            android:exported="false" >
        </service>
        <!--
            <service
            android:name="com.example.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.example.MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        -->

        <activity
            android:name="com.ncu.efpg.mysop.Register"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.Emailverify"
            android:label="@string/title_activity_emailverify"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.Error"
            android:label="@string/title_activity_error"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.Forget"
            android:label="@string/title_activity_forget"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.Forgetpwd"
            android:label="@string/title_activity_forgetpwd"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.Login"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.Changepassword"
            android:label="@string/title_activity_changepassword"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.ChangePasswordError"
            android:label="@string/title_activity_change_password_error"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.EmailVertifyError"
            android:label="@string/title_activity_email_vertify_error"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.RegisterError"
            android:label="@string/title_activity_register_error"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.Mysop"
            android:label="@string/title_activity_mysop"
            android:theme="@style/MyTheme" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.Content"
            android:label="@string/title_activity_content"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.Start"
            android:label="@string/title_activity_start"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
>
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.Stepdescription"
            android:label="@string/title_activity_stepdescription"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.Steprecording"
            android:label="@string/title_activity_steprecording"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepcutcontrolArtificial"
            android:label="@string/title_activity_stepcutcontrol_artificial"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepCaseEnding"
            android:label="@string/title_activity_step_case_ending"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepActionControlQRcode"
            android:label="@string/title_activity_step_action_control_qrcode"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepActionControlIbeacon"
            android:label="@string/title_activity_step_action_control_ibeacon"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepCutControlQRcode"
            android:label="@string/title_activity_step_cut_control_qrcode"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepActionControl"
            android:label="@string/title_activity_step_action_control"
            android:theme="@android:style/Theme.NoDisplay" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepCutControl"
            android:label="@string/title_activity_step_cut_control"
            android:theme="@android:style/Theme.NoDisplay" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepActionControlGPS"
            android:label="StepActionControlGPS"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepCutControlIbeacon"
            android:label="@string/title_activity_step_cut_control_ibeacon"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepCutControlGPS"
            android:label="@string/title_activity_step_cut_control_gps"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepActionControlNFC"
            android:label="@string/title_activity_step_action_control_nfc"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepActionControlArtificial"
            android:label="@string/title_activity_step_action_control_artificial"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepActionControlTime"
            android:label="@string/title_activity_step_action_control_time"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepCutControlNFC"
            android:label="@string/title_activity_step_cut_control_nfc"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepCutControlTime"
            android:label="@string/title_activity_step_cut_control_time"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepNextControlUser"
            android:label="@string/title_activity_step_next_control_user"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepNextControl"
            android:label="@string/title_activity_step_next_control"
            android:theme="@android:style/Theme.NoDisplay" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.Home"
            android:label="home" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.TestSendGCM"
            android:label="@string/title_activity_test_send_gcm"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.Search"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.DynamicAction"
            android:label="@string/title_activity_dynamic_action"
            android:theme="@style/MyTheme" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.Logout"
            android:label="@string/title_activity_logout" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepNextControlData"
            android:label="@string/title_activity_step_next_control_data"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.StepCutControlFinishandpass"
            android:label="@string/title_activity_step_cut_control_finishandpass"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.SystemMessage"
            android:label="@string/title_activity_system_message"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.SystemMessageGet"
            android:label="@string/title_activity_system_message"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.SystemMessageMemo"
            android:label="@string/title_activity_system_message"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.MyStubBroadcastActivity"
            android:label="MyStubBroadcastActivity" >
        </activity>
        <activity
            android:name="com.ncu.efpg.mysop.MyDisplayActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.DeviceDefault.Light" >
        </activity>

        <receiver
            android:name="com.ncu.efpg.mysop.MyPostNotificationReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.kelly.mysop.SHOW_NOTIFICATION" />
            </intent-filter>

        </receiver>
    </application>

</manifest>
